html.is-changing .transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .transition-main {
  opacity: 0;
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--swup-blue-darker);
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  pointer-events: none;
}

html.is-changing.to-search .transition-overlay {
  transition: transform 400ms ease-in-out;
  opacity: 1;
}

html.is-animating.to-search .transition-overlay {
  transform: translate3d(0, 0, 0);
}

html.is-rendering.to-search .transition-overlay {
  transition-duration: 0s;
}

html.is-changing.to-list .transition-overlay {
  transition: transform 400ms ease-in-out;
  transform: translate3d(0, 100%, 0);
  opacity: 1;
}

html.is-animating.to-list .transition-overlay {
  transform: translate3d(0, 0, 0);
}

html.is-rendering.to-list .transition-overlay {
  transform: translate3d(0, -100%, 0);
}